@import './variables';

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .rbc-timeslot-group {
    flex: 1;
  }
}

.rbc-timeslot-group {
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 1px solid #d1d6dc;
  .rbc-time-slot:last-child {
    border-bottom: 0px;
  }
}

.rbc-time-gutter,
.rbc-header-gutter {
  flex: none;
}

.rbc-label {
  padding: 0 5px;
}

.rbc-day-slot {
  position: relative;

  .rbc-events-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 0;

    &.rbc-rtl {
      left: 10px;
      right: 0;
    }
  }

  .rbc-event {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.18);
    display: flex;
    max-height: 100%;
    min-height: 20px;
    flex-flow: column wrap;
    align-items: flex-start;
    overflow: hidden;
    position: absolute;
    z-index: 6;
    &:hover {
      z-index: 7;
    }
  }

  .rbc-event-with-color {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.18);
  }

  .rbc-event-label {
    flex: none;
    padding-right: 5px;
    width: auto;
  }

  .rbc-event-content {
    width: 100%;
    flex: 1 1 0;
    word-wrap: break-word;
    line-height: 1;
    height: 100%;
    min-height: 1em;
  }

  .rbc-time-slot {
    background: #fff;
    cursor: crosshair;
    z-index: 1;
    position: relative;
    border-bottom: 1px solid #e8e8e8;

    &.rbc-available {
      box-shadow: -1px 1px 7px 4px rgba(0, 0, 0, 0);
      &:hover {
        background-color: #97c6f0;
        box-shadow: -1px 1px 7px 4px rgba(0, 0, 0, 0.08);
        z-index: 2;

        .rbc-slot-time-hover {
          opacity: 1;
        }
      }
      .rbc-slot-time-hover {
        opacity: 0;
        font-size: 11px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        padding-left: 8px;
        padding-top: 1px;
      }
    }
  }
}

.rbc-time-view-resources {
  .rbc-time-gutter,
  .rbc-time-header-gutter {
    position: sticky;
    left: 0;
    background-color: white;
    border-right: 1px solid $cell-border;
    z-index: 10;
    margin-right: -1px;
  }

  .rbc-time-header {
    overflow: hidden;
  }

  .rbc-time-header-content {
    min-width: auto;
    flex: 1 0 0;
    flex-basis: 0px;
  }

  .rbc-time-header-cell-single-day {
    display: none;
  }

  .rbc-day-slot {
    min-width: 140px;
  }

  .rbc-header,
  .rbc-day-bg {
    width: 140px;
    // min-width: 0;
    flex: 1 1 0;
    flex-basis: 0 px;
  }
}

.rbc-time-header-content + .rbc-time-header-content {
  margin-left: -1px;
}

.rbc-time-slot {
  flex: 1 0 0;
  cursor: crosshair;

  &.rbc-now {
    font-weight: bold;
  }
  &.rbc-disabled {
    background-size: 11px 11px;
    background-image: linear-gradient(
      45deg,
      transparent 50%,
      rgba(36, 51, 74, 0.2) 0%,
      rgba(36, 51, 74, 0.2) 51%,
      transparent 0%
    );
    background-color: #eef0f2;
    border-bottom: 1px solid transparent;
    cursor: default;
  }
}

.rbc-day-header {
  text-align: center;
}
